{% extends 'store/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
        <h2>{{ product.name }}</h2>
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <p>Цена: {{ product.price }} сом</p>
        <p>{{ product.description }}</p>
        <a href="{% url 'store:add_to_cart' product.id %}">Добавить в корзину</a>
    {% endblock %}
</body>
</html>
